@{    Layout = "_Layout";
    ViewData["Title"] = "create Student";
    }

<form asp-controller="Home" asp-action="DisplayStudent" method="post" style="padding: 10px;">
        <table>
            <tr>
                <td>
                    First Name:
                    <input type="text" name="FirstName"/>
                </td>
            </tr>

            <tr>
                <td>
                    Last Name:
                    <input type="text" name="LastName"/>
                </td>
            </tr>

            <tr>
                <td>
                    Student ID:
                    <input type="number" min="0" name="StudentId"/>
                </td>
            </tr>

            <tr>
                <td>
                    Email Address:
                    <input type="email" name="EmailAddress"/>
                </td>
            </tr>

            <tr>
                <td>
                    Password:
                    <input type="password" name="Password"/>
                </td>
            </tr>

            <tr>
                <td>
                    Description:
                    <input type="text" name="Description"/>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="Submit"/>
                </td>
            </tr>

        </table>
    </form>
